extends layout

block header
  header.container-fluid#languages
    .row
      .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-5.text-center
        ul.menu-lite
          li.active
            a(href='#') CAT
          li
            a(href='#') ES
          li
            a(href='#') FR
          li
            a(href='#') EN

block navbar
  #menuPrincipal.container-fluid
    nav.navbar.navbar-centered.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navMain')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navMain.collapse.navbar-collapse
          ul.nav.navbar-nav#nav-scroll
            li.active
              a(href='#inici')
                | inici 
                span.sr-only (current)
            li
              a(href='#tecnologia') tecnologia
            li
              a(href='#mercat') mercat
            li
              a(href='#innovacio') innovació
            li
              a(href='#contacte') contacte
            li
              a(href='#sobreNosaltres') sobre nosaltres
            
block carousel
  .container-fluid.mainHeader#inici
    .row.principal
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4.text-center
        h2
          span L'excel·lència
        h2
          span en la impressió
        h2
          span flexible
    .row
      .col-xs-12.text-center#contactarButton
        span.quadre
          | contactar
    .footer
      .row
          h1.text-center Valors que ens fan grans
          .valorsGran
            .col-xs-2.col-xs-offset-1
              .quadre2 
                div Compromís
            .col-xs-2
              .quadre2
                div Experiència
            .col-xs-2
              .quadre2 
                div Qualitat
            .col-xs-2
              .quadre2 
                div Innovació
            .col-xs-2
              .quadre2 
                div Eficiència
          .valorsPetit
            .col-xs-12
              ul.text-center
                li Compromís
                li Experiència
                li Qualitat
                li Eficiència
    
block content
  .container#tecnologia
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        h1.text-center.big.message1 Tecnologia
        h2.text-center.enplaterColor.middle Sistemes d'impressió
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        p.enplaterText.text-center Tots els processos de fabricació d’Enplater estan supeditats als més estrictes controls de qualitats i a una actualització continuada de components amb l’objectiu de disposar de la millor tecnologia per a oferir els productes que necessiten els nostres clients amb la millor relació qualitat-preu.
        p.enplaterText.text-center Al disposar de tots els elements de producció a les dues plantes de forma independent ens permet la màxima adaptabilitat en els nostres plans d’impressió.
    .row
      .col-xs-4.col-xs-offset-2.col-sm-2.col-sm-offset-4
      
        img(src='img/icona_gravat_al_buit.svg', width='100%')
      .col-xs-4.col-sm-2
        img(src='img/icona_digital.svg', width='100%')
        
  .separador
    
  .container#mercat
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        h1.text-center.big.message2 Mercat
        h2.text-center.enplaterColor.middle Objectiu: Excel·lència
        
        p.enplaterText.text-center Estudiem cada cas de forma independent. Tenim en compte les característiques i els requisits de cada un dels seus productes. Assegurem la seva imatge, protecció i maquinabilitat.
        p.enplaterText.text-center Estudiem cada cas de forma independent. Tenim en compte les característiques i els requisits de cada un dels seus productes. Assegurem la seva imatge, protecció i maquinabilitat.

  .separador
      
  .container#innovacio
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        h1.text-center.big.message2 Innovació
        h2.text-center.enplaterColor.middle Objectiu: Excel·lència
        
        p.enplaterText.text-center A Enplater potenciem les activitats llegades a la investigació, desenvolupament e innovació (I+D+i) oferint avantatges competitives pels nostres clients. Alguns dels avanços ja aconseguits com el Compopack i les millores personalitzades de reducció de costos, estan representant una millora pel medi ambient.
        p.enplaterText.text-center Investigació: el nostre equip d’enginyeria investiga amb l’objectiu d’aconseguir nous coneixements en embalatge flexible.
        p.enplaterText.text-center Desenvolupament: Amb els resultats fruit de les nostres investigacions i els nous coneixements del sector per la millora tecnològica, fabriquem nous materials i els apliquem als nous processos de producció existents.
        p.enplaterText.text-center Innovació: la innovació tecnològica ha suposat un avanç en el nostre àmbit al permetre distingir-nos dels nostres competidors.

  .separador        

  .container#contacte
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        h1.text-center.big.message2 Conctacte
        h2.text-center.enplaterColor.middle Objectiu: Excel·lència
        
        p.enplaterText.text-center Estudiem cada cas de forma independent. Tenim en compte les característiques i els requisits de cada un dels seus productes. Assegurem la seva imatge, protecció i maquinabilitat.
        p.enplaterText.text-center Estudiem cada cas de forma independent. Tenim en compte les característiques i els requisits de cada un dels seus productes. Assegurem la seva imatge, protecció i maquinabilitat.          
    .row
      #map1.col-sm-6
      #map2.col-sm-6
  .separador
  
  .container#sobreNosaltres
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        h1.text-center.big.message2 Sobre nosaltres
        h2.text-center.enplaterColor.middle Objectiu: Excel·lència
        
        p.enplaterText.text-center Fundada el 1962 a Torroella de Montgrí (Girona), Enplater S.A. va néixer als inicis de la revolució del packaging per l’alimentació. Des de llavors, les exigències del mercat i la voluntat de servei han sigut el motor que ens ha fet innovar i progressar per a estar sempre en els llocs de lideratge d’un mercat en constant evolució. Al llarg dels 50 anys de presencia dins del sector, ens caracteritzem per la serietat en el servei i la qualitat.
        p.enplaterText.text-center El nostre mercat es centra en un 95% en el sector alimentari (plats preparats, quarta gama, productes frescos, bosses de pa de motllo, pet food, cafè,…)
        p.enplaterText.text-center L’exportació a països com França, Països Baixos, Països Nòrdics, Regne Unit i Portugal representa una part important de la facturació.
  
  footer
    .row
      .col-sm-3.col-sm-offset-1.hidden-xs
        p.text-center
          h4 menú
          ul#footerMenu
            li 
              a(href='#inici') inici
            li
              a(href='#tecnologia') tecnologia
            li
              a(href='#mercat') mercat
            li
              a(href='#innovacio') innovació
            li
              a(href='#contacte') contacte
            li
              a(href='#sobreNosaltres') sobre nosaltres
      .col-sm-4.hidden-xs
        p.text-center
          h4 Enplater, S.A.
          ul
            li C/ Industria, 1
            li 17257 Torroella de Montgrí
            li Girona
            li Espanya
            li info@enplater.com
            li tel: 972 76 15 70
            li fax: 972 76 16 52
      .col-sm-4.hidden-xs
        p.text-center
          h4 EPA
          ul
            li Pol. Industrial El Puyalón
            li 22200 Sariñena
            li Osca
            li Espanya
            li infoepa@enplater.com
            li tel:
            li fax: 