/* Remove dot line in firefox */
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

#menuPrincipal .navbar #nav-scroll a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#menuPrincipal > .navbar {
    margin-top: 20px;
}

/*******************  Animations     ************************/

/* Initially we don't want any height, and we want the contents to be hidden */
	
 #languages {
     /*display:none;*/
	
	height: 100%;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	
	transition: height 0.8s;
	transition: padding 0.8s;
	transition: margin 0.8s;
}
#menuPrincipal {
    transition: box-shadow 0.9s;
}

/*************************************************************/

.paddingZero {
    padding: 0;
}
.fixePetit #languages {
    height:0;
    padding: 0;
    margin: 0;
}

.fixePetit #menuPrincipal {
        box-shadow: 0px 1px 6px -1px black;
}
.fixe, .fixePetit{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    margin: 0 !important;
    background: white;
}


header {
    margin-top: 20px;
    background-color: white;
    margin: 0;
    padding-top:25px;
}

#map1, #map2 {
    height: 450px;
}
#menuPrincipal {
    background-color: white;
    letter-spacing: 2px;
}

#languages {
    margin-bottom: 1em;
}

#inici {
    margin-top:150px;
}
.principal {
    margin-top: 100px;
}

.principal h2 {
    line-height: 0.8 !important;
}
.principal h2 span {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    /*font-weight: 900;
    font-size: 0.8em;*/
}
.titol {
    margin-bottom:25px;
    font-family: 'Bitter', serif;
    font-weight: 900;
}
.titol h1 {
    padding-bottom: 15px;
}
.titol h1 span {
    background-color: black;
    padding: 0 5px 0 5px;
}

.quadre {
    margin-right: 200px;
    background-color: white;
    color: #000000;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    margin: 5px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 1.4em;
    font-family: Bitter;
}

#contactarButton {
    margin-top: 4em;
}

.quadre i {
   font-size: xx-large;
    margin-right: 15px;
    vertical-align: middle ;
    
}

.valorsPetit {
    display:none;
}

.quadre2 {
    border-radius: 25px;
    border: 4px solid white;
    text-align: center;
    margin: 50px 0;
    vertical-align:middle;
}
.quadre2 > div {
    font-family: "Bitter";
    font-weight: bold;
}

.mainHeader .footer {
    margin-top: 75px;
    background-color: #84754e;
    opacity: 0.8;
    color: white !important;
          position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.mainHeader .footer h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2em;
}

.big {
    font-size: 4.5em;
    font-weight: bold;
    margin-top: 1em;
}
.middle {
    font-size: 3.5em;
    font-weight: bold;
    margin-top:0;
    margin-bottom: 0.5em;
}

.enplaterColor {
    color: #84754e;
}

.enplaterText {
    font-size:1.2em;
}

.separador {
    height: 250px;
    background: url('/img/foto-8.jpg');
        margin-top: 3em;
}



footer {
    padding-top: 50px;
    background-color: #84754e;
    
    color: white;
    font-size: 1em;
    font-family: Gudea, sans-serif;
}

footer a {
    color: white;
}

footer ul {
    list-style-type: none;
}


@media only screen and (min-width: 1200px) {
    #menuPrincipal {
        letter-spacing: 2px;
    }
    .quadre2 {
        border: 4px solid white;
        width: 150px;
        height: 150px;
        text-align: center;
        margin: 50px 0;
        vertical-align: middle;
    }
    .quadre2 > div {
        margin-top: 50px;
        font-size: 1.6em;
        font-family: "Gudea";
        font-weight: bold;
        letter-spacing: 0.05em;
    }
    .menu-lite:before {
        content:url('../img/EnplaterLogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        left: -120px;
        top: 0;
    }
    .menu-lite:after {
        content:url('../img/EPALogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        right: -110px;
        top: 0;
    }
    .message1:after {
        content: "Més de 50 anys d'experiència";
        display: block;
        border: 5px solid black;
        height: 150px;
        width: 150px;
        font-size: 0.3em;
        padding-top: 29px;
        padding-left: 1px;
        padding-right: 1px;
        position: absolute;
        right: -94px;
        /* font-weight: 900; */
        border-radius: 20px 20px 20px 0;
        top: 78px;
        font-weight: bold;
        font-family: "Bitter";
        line-height: 1.4em;
    }
    
    .message2:after {
        content: "Més de 50 anys d'experiència";
        border: 5px solid black;
        height: 150px;
        width: 150px;
        font-size: 0.3em;
        padding-top: 29px;
        padding-left: 1px;
        padding-right: 1px;
        position: absolute;
        right: -194px;
        /* font-weight: 900; */
        border-radius: 20px 20px 20px 0;
        top: 78px;
        font-weight: bold;
        font-family: "Bitter";
        line-height: 1.4em;
    }

  
}

@media (min-width: 880px) and (max-width: 1199px) {
    h2 {
        font-size: 2em;
    }
    .quadre {
        font-size: 1.2em;
    }
    .mainHeader .footer h1 {
        font-size: 2.3em;
    }
    .quadre2 {
        border: 3px solid white !important;
    }
    .quadre2 > div {
        font-size: 0.8em !important;
        margin-top: 38px !important;
    }
    .big {
        font-size: 5em;
    }
    .middle {
        font-size: 3em;
    }
    .enplaterText {
        font-size: 1.1em;
    }
    .menu-lite a {
        font-size: 8px;
    }
    .menu-lite li {
        padding: 0 5px;
    }
    
    .menu-lite:before {
        content:url('../img/EnplaterLogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        left: -100px;
        top: 0;
    }
    .menu-lite:after {
        content:url('../img/EPALogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        right: -110px;
        top: 0;
    }
    
    h1 {
        font-size: 40px;
    }
    .quadre2 {
        border: 4px solid white;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 50px 0;
        vertical-align: middle;
    }
    .quadre2 > div {
        margin-top: 46px;
        font-size: 15px;
        font-family: "Bitter";
        font-weight: bold;
    }
    
    .message1:after {
        content: "Sempre a la última tecnologia";
        display: block;
        border: 4px solid black;
        height: 150px;
        width: 150px;
        font-size: 0.2em;
        padding-top: 50px;
        position: absolute;
        right: -160px;
        font-weight: 900;
        border-radius: 10px 10px 10px 0;
        top: 50px;
    }
    
    .message2:after {
        content: "Més de 50 anys d'experiència";
        display: block;
        border: 4px solid black;
        height: 150px;
        width: 150px;
        font-size: 0.2em;
        padding-top: 50px;
        position: absolute;
        right: -160px;
        font-weight: 900;
        border-radius: 10px 10px 10px 0;
        top: 50px;
    }

  
}

@media (min-width: 769px) and (max-width: 879px) {
    h2 {
        font-size: 2em;
    }
    .quadre {
        font-size: 1.2em;
    }
    .mainHeader .footer h1 {
        font-size: 2.3em;
    }
    .quadre2 {
        border: 3px solid white !important;
    }
    .quadre2 > div {
        
        font-size: 0.8em !important;
        margin-top: 38px !important;
    }
    .big {
        font-size: 5em;
    }
    .middle {
        font-size: 3em;
    }
    .enplaterText {
        font-size: 1.1em;
    }
    .menu-lite a {
        font-size: 8px;
    }
    .menu-lite li {
        padding: 0 5px;
    }
    
    .menu-lite:before {
        content:url('../img/EnplaterLogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        left: -100px;
        top: 0;
    }
    .menu-lite:after {
        content:url('../img/EPALogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        right: -110px;
        top: 0;
    }
    h1 {
        font-size: 40px;
    }
    .quadre2 {
        border: 4px solid white;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 50px 0;
        vertical-align: middle;
    }
    .quadre2 > div {
        margin-top: 46px;
        font-size: 15px;
        font-family: "Bitter";
        font-weight: bold;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #languages {
        margin-bottom: 0em;
    }
     h2 {
        font-size: 1.8em;
    }
    .principal {
        margin-bottom: 20px;
    }
    .quadre {
        font-size: 1.2em;
        margin-right: 200px;
        background-color: white;
        color: #000000;
        font-weight: bold;
        padding: 10px;
        margin: 50px;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .quadre i {
        font-size: x-large;
        margin-right: 10px;
        vertical-align: middle;
    }
    .mainHeader .footer h1 {
        font-size: 2.3em;
    }
    .quadre2 {
        border: 2px solid white !important;
        width: 90px;
        height: 90px;
        margin-top: 38px;
    }
    .quadre2 > div {
        
        font-size: 0.8em !important;
        margin-top: 38px !important;
    }
    .big {
        font-size: 5em;
    }
    .middle {
        font-size: 3em;
    }
    .enplaterText {
        font-size: 1.1em;
    }
    .menu-lite a {
        font-size: 6px;
    }
    
    .menu-lite li {
        padding: 0 5px;
    }
    .menu-lite:before {
        content:url('../img/EnplaterLogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        left: -100px;
        top: 0;
    }
    .menu-lite:after {
        content:url('../img/EPALogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        right: -110px;
        top: 0;
    }
    .mensage2:after {
        display: none !important;
    }
    .mensage1:after {
        display: none !important;
    }
    header img {
        width: 60px;
    }
}


@media   (max-width: 599px) {
    #languages {
        margin-bottom: 0em;
    }
     h2 {
        font-size: 1.5em;
    }
    .principal {
        margin-bottom: 25px;
    }
    
    .principal h2 {
        line-height: 0.6;
    }
    .quadre {
        font-size: 1em;
        margin-right: 200px;
        background-color: white;
        color: #000000;
        font-weight: bold;
        padding: 8px;
        margin: 1px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .valorsGran {
        display: none;
    }
    .valorsPetit {
        display: block;
    }
    .valorsPetit  ul {
         list-style-type: none;
         padding: 0;
    }
    .quadre i {
        font-size: x-large;
        margin-right: 10px;
        vertical-align: middle;
    }
    .mainHeader .footer h1 {
        font-size: 1.5em;
    }
    .quadre2 {
        border: 2px solid white !important;
        width: 90px;
        height: 90px;
        margin-top: 38px;
    }
    .quadre2 > div {
        
        font-size: 0.8em !important;
        margin-top: 38px !important;
    }
    .big {
        font-size: 3.2em;
    }
    .middle {
        font-size: 1.7em;
    }
    .enplaterText {
        font-size: 1em;
    }
    .menu-lite a {
        font-size: 6px;
    }
    
    .menu-lite li {
        padding: 0 5px;
    }
    .menu-lite:before {
        content:url('../img/EnplaterLogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        left: -120px;
        top: 0;
    }
    .menu-lite:after {
        content:url('../img/EPALogo80.png');
        display:block;
        width: 80px;
        position: absolute;
        right: -110px;
        top: 0;
    }
    .mensage2:after {
        display: none !important;
    }
    .mensage1:after {
        display: none !important;
    }
    header img {
        width: 60px;
    }
}